# Ignore ENV variables

.env
secret.env
.vscode/settings.json
*.pem
*.key

# Ignore Local Database/Volume data

/data-postgres/

# Ignore api-shoot.rest
/api-shoot.rest

# Ignore config/plugins.js folder
/config

# Ignore user uploads & runtime logs
/strapi-uploads/
*.log
.DS_Store